
<%- include("partials/header"); -%>
<h1>Compose</h1>
<form id="composeForm" action="/compose" method="post">
  <div class="compose-form">
    <label>Title</label>
    <input  type="text" name="postTitle">
    <label>Post</label>
    <textarea  name="postBody" id="editor1" rows="5" cols="30"></textarea>
  </div>
  <button class="compose-btn" type="submit" name="button">Publish</button>
</form>

